.glow-img {
  filter: drop-shadow(0 0 8px rgba(243, 243, 243, 0.8)) 
          drop-shadow(0 0 8px rgba(146, 211, 228, 0.8)); /* Brighter gold glow for images */
}

.glow {
  text-shadow: 
    0 0 10px rgba(103, 237, 255, 0.9),  
    0 0 15px rgba(0, 0, 0, 0.7),  
    0 0 20px rgb(145, 141, 141),      
    0 0 25px rgb(38, 54, 52);
}

.underline {
  text-decoration: underline;
  text-decoration-color: #9b8402; /* Gold underline */
  text-decoration-thickness: 2px; /* Thicker underline */
}

.box-glow {
box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3), 0 2px 10px rgba(209, 201, 201, 0.918);
}